In [7]:
import numpy as np
import pandas as pd

In [8]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

In [9]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

# What sex was the youngest respondent?
Hint, you might find the .loc accessor useful here. Think about breaking this task down into creating a boolean index that is True where the value in the age column is equal to the minimum of the age column. Then select the sex column.

In [18]:
 pets.loc[pets['age'].isin ([pets['age'].min()]),'sex']
 #df2[df2["E"].isin(["two", "four"])]
#df.loc[dates[0], "A"]

8    F
Name: sex, dtype: object

In [42]:
pets.loc[pets['age']==min(pets['age']),'sex']

8    F
Name: sex, dtype: object

In [19]:
# task: create new column 'num_pets' which contains the number of pets
# each person had (hint: this is the length of each list in the pets column)
# one line of code here:
pets['num_pets'] = pets['pets'].str.len()# counts number of element in list
pets['num_pets']

0    2
1    1
2    2
3    3
4    1
5    1
6    1
7    1
8    2
9    1
Name: num_pets, dtype: int64

In [46]:
pets['num_pets1']=pets['pets'].apply(lambda x:len(x))

In [47]:
# view the DataFrame again to check our new column is there
pets

  sex  age                     pets  num_pets  num_pets1
0   M   21               [cat, dog]         2          2
1   M   45                [hamster]         1          1
2   F   23            [cat, gerbil]         2          2
3   M   56  [fish, hamster, gerbil]         3          3
4   F   47                    [cat]         1          1
5   F   70                    [dog]         1          1
6   F   34                    [dog]         1          1
7   M   30                    [cat]         1          1
8   F   19            [rabbit, cat]         2          2
9   M   62                    [dog]         1          1

In [43]:
pets.loc[pets['num_pets'].max(),'age']

56

In [44]:
pets.loc[pets['num_pets']==max(pets['num_pets']),'age']

3    56
Name: age, dtype: int32

# What was the most popular pet?
This is a very interesting question, given the data, because the data are arranged by respondent, not by pet. We need to get into the pets column now in order to count each type of animal. To do this, we could perform a list comprehension and iterate over each list element for each Series element. But here we're going to give you a handy way to convert that Series of lists into a (longer) Series. The reason for this is to end up with another Series, which means we still have access to the powerful methods available from pandas.

In [23]:
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)# Splits list elements in different rows in dataframe
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [28]:
# task: produce an ordered count of each animal
# one line of code here:
pet_series.mode()

0    cat
dtype: object

In [48]:
# task: produce an ordered count of each animal
# one line of code here:
pet_series.value_counts()

cat        5
dog        4
gerbil     2
hamster    2
rabbit     1
fish       1
dtype: int64

# What was the average age of dog owners?
Hint, again here you may find it useful to use a lambda function to create a boolean index which is True if a respondent said they had a dog and False otherwise.

# example
('dog' in ['dog', 'cat'], 'dog' in ['rabbit'])
# task: use a lambda function to test whether 'dog' is contained in each list of animals,
# extract the age column and then chain the mean method to calculate the average age.
# one line of code here:
None

In [38]:
'dog' in ['dog', 'cat'], 'dog' in ['rabbit']

(True, False)

In [41]:
pets.loc[pets['pets'].apply(lambda x:'dog' in x),'age'].mean()

46.75